<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<add key="BeforeExecuteScriptsAction" value="CreateDatabase" />
	</appSettings>
	<connectionStrings>
		<add name="Mirabeau.DatabaseReleaseTool.ConnectionString" connectionString="Data Source=.;Initial Catalog=ExampleDb;User ID=xx;Password=xxxxx!" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>