<?xml version="1.0"?>

<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="BeforeExecuteScriptsAction" value="CreateDatabase" />
  </appSettings>
  <connectionStrings>
    <add name="Mirabeau.DatabaseReleaseTool.ConnectionString"
         connectionString="Data Source=.;Initial Catalog=databasename;User ID=xx;Password=testpassword"
         providerName="System.Data.SqlClient" />
    <!-- 
      ORACLE Example 
        <add name="Mirabeau.DatabaseReleaseTool.ConnectionString" connectionString="Data Source=<server>/<servicename>,<port>;User ID=<user>;Password=<password>;" providerName="System.Data.OracleClient" />
    -->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>